@import url(/styles/normalize.css);
@import url(/index/header/header.css);
@import url(/index/header/__logo/header__logo.css);
@import url(/index/header/__logo_place_header/header__logo_place_header.css);
@import url(/index/header/__title/header__title.css);
@import url(/index/header/__subtitle/header__subtitle.css);
@import url(/index/header/__link/header__link.css);
@import url(/index/header/__main-illustration/header__main-illustration.css);
@import url(/index/header/__square-pic/header__square-pic.css);
@import url(/index/header/__square-pic/__rotation/rotation.css);
@import url(/index/description/description.css);
@import url(/index/description/__two-columns/description__two-columns.css);
@import url(/index/description/__two-columns__brief/description__two-columns__brief.css);
@import url(/index/description/__two-columns__main-text/description__two-columns__main-text.css);
@import url(/index/description/__two-columns__span-accent/desription__two-columns__span-accent.css);
@import url(/index/description/__two-columns_paragraph/desription__two-columns_paragraph.css);
@import url(/index/cards/cards.css);
@import url(/index/cards/__item/cards__item.css);
@import url(/index/cards/__image/cards__image.css);
@import url(/index/cards/__title/cards__title.css);
@import url(/index/cards/__description/cards__description.css);
@import url(/index/video/video.css);
@import url(/index/video/__iframes/video__iframes.css);
@import url(/index/video/__iframe/video__iframe.css);
@import url(/index/oakley/oakley.css);
@import url(/index/section-title/section-title.css);
@import url(/index/section-subtitle/section-subtitle.css);
@import url(/index/table/table.css);
@import url(/index/table/__cell/table__cell.css);
@import url(/index/table/__heading/table__heading.css);
@import url(/index/table/__text/table__text.css);
@import url(/index/khan/khan.css);
@import url(/index/khan/__container/khan__container.css);
@import url(/index/khan/__author/khan__author.css);
@import url(/index/khan/__title/khan__title.css);
@import url(/index/khan/__quote/khan__quote.css);
@import url(/index/khan/__quote-author/khan__quote-author.css);
@import url(/index/khan/__quote-author-subline/khan__quote-author-subline.css);
@import url(/index/khan/__book-container/khan__book-container.css);
@import url(/index/khan/__book-pic/khan__book-pic.css);
@import url(/index/khan/__buy-link/khan__buy-link.css);
@import url(/index/feynman/feynman.css);
@import url(/index/feynman/__title/feynman__title.css);
@import url(/index/feynman/__subtitle/feynman__subtitle.css);
@import url(/index/feynman/__link/feynman__link.css);
@import url(/index/kaufman/kaufman.css);
@import url(/index/kaufman/__triangle/kaufman__triangle.css);
@import url(/index/kaufman/__section-title_theme_dark/kaufman__section-title_theme_dark.css);
@import url(/index/kaufman/__section-subtitle_theme_dark/kaufman__section-subtitle_theme_dark.css);
@import url(/index/kaufman/__table_theme_dark/kaufman__table_theme_dark.css);
@import url(/index/kaufman/__table__cell_theme_dark/kaufman__table__cell_theme_dark.css);
@import url(/index/kaufman/__table__heading_theme_dark/table__heading_theme_dark.css);
@import url(/index/kaufman/__table__text_theme_dark/kaufman__table__text_theme_dark.css);
@import url(/index/resources/resources.css);
@import url(/index/resources/__logo-zone/resources__logo-zone.css);
@import url(/index/resources/__link/resourсes__link.css);
@import url(/index/resources/__logo/resourсes__logo.css);
@import url(/index/footer/footer.css);
@import url(/index/footer/__columns/footer__columns.css);
@import url(/index/footer/__column_content_copyright/footer__column_content_copyright.css);
@import url(/index/footer/__logo_place_footer/footer__logo_place_footer.css);
@import url(/index/footer/__author/footer__author.css);
@import url(/index/footer/__column_content_info/footer__column_content_info.css);
@import url(/index/footer/__column-heading/footer__column-heading.css);
@import url(/index/footer/__column-links/footer__column-links.css);
@import url(/index/footer/__column-link/footer__column-link.css);
@import url(/index/footer/__column_content_social/footer__column_content_social.css);
@import url(/index/footer/__social-icon/footer__social-icon.css);

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}