.footer__columns {
  width: 90%;
  color: white;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  margin-inline: auto;
  margin-bottom: 0;
  padding-bottom: 0;
}