.footer__columns {
    width: 90%;
    color: white;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    margin-inline: auto;
    padding: 0;
    min-height: 250px;
  }