.table {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1100px;
    margin-inline: auto;
    margin-bottom: 100px;
  }