.khan__buy-link {
    margin-left: 0px;
    font-size: 30px;
    line-height: 42px;
    font-weight: normal;
    color: #2f80ed;
    text-decoration: none;
    top: 50%;
    width: fit-content;
  }
  
  .khan__buy-link:hover {
    opacity: 0.5;
    transition: opacity 0.5s ease;
  }